Repository adelin-b/starter-convex-next: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --max-warnings 0 --no-warn-ignored, bash -c 'cd apps/web && bun run intl:extract', bash -c 'cd apps/web && bun run intl:compile:strict'

feat: add Polar payments integration for SaaS subscriptions
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/pricing/page.tsx
  apps/web/src/components/layouts/app-sidebar.tsx
  apps/web/src/features/billing/components/pricing-card.tsx
  apps/web/src/features/billing/components/pricing-table.tsx
  apps/web/src/features/billing/components/subscription-status.tsx
  apps/web/src/features/billing/index.ts
  bun.lock
  eslint.config.js
  package.json
  packages/backend/convex/convex.config.ts
  packages/backend/convex/env.ts
  packages/backend/convex/http.ts
  packages/backend/convex/polar.ts
  packages/backend/convex/testing/testing.ts
  packages/backend/convex/todos.ts
Due: biome check --write --no-errors-on-unmatched, eslint --max-warnings 0 --no-warn-ignored, bash -c 'cd apps/web && bun run intl:extract', bash -c 'cd apps/web && bun run intl:compile:strict'

feat: add Polar payments configuration to setup wizard
  setup.ts
Due: biome check --write --no-errors-on-unmatched

auto-claude: subtask-5-4 - Implement direct Convex API call steps
  apps/e2e/tests/features/steps/admin.steps.ts
Due: biome check --write --no-errors-on-unmatched

chore: consolidate upstream improvements from vroommarket
  .auto-claude-status
  .branchlet.json
  .branchlet/setup-worktree.sh
  .claude/agents/app-errors-enforcer.md
  .claude/agents/coherence-checker.md
  .claude/agents/convex-patterns-checker.md
  .claude/agents/playwright-bdd-checker.md
  .claude/agents/playwright-test-generator.md
  .claude/agents/playwright-test-healer.md
  .claude/agents/playwright-test-planner.md
  .claude/agents/react-component-patterns.md
  .claude/agents/skills-suggester.md
  .claude/agents/type-safety-checker.md
  .claude/commands/review.md
  .claude/skills/convex-docs/SKILL.md
  .claude/skills/evidence-debugger/SKILL.md
  .claude/skills/git-worktree-manager/SKILL.md
  .claude/skills/knip-cleanup/SKILL.md
  .claude/skills/playwright-debug/SKILL.md
  .claude_settings.json
  COHERENCE.md
  TODO.md
  packages/backend/convex/lib/functions.ts
  packages/backend/convex/organizations.ts
Due: biome check --write --no-errors-on-unmatched

wip
  packages/backend/convex/__tests__/placeholder.test.ts
Due: biome check --write --no-errors-on-unmatched

wip
  biome.json
  cspell.json
  eslint.config.js
  knip.json
Due: biome check --write --no-errors-on-unmatched

fix: use data-slot selector for mobile auth tests to avoid matching multiple headings
  apps/e2e/tests/features/steps/auth.steps.ts
Due: biome check --write --no-errors-on-unmatched

feat(deedee): add E2E test infrastructure and fix auth/CopilotKit issues
  apps/deedee/playwright.config.ts
  apps/deedee/src/app/api/auth/[...all]/route.ts
  apps/deedee/src/app/api/copilotkit/route.ts
  apps/deedee/src/app/dashboard/agents/page.tsx
  apps/deedee/src/app/dashboard/layout.tsx
  apps/deedee/src/components/agents/copilot-integration.tsx
  apps/deedee/src/hooks/use-user.ts
  apps/deedee/src/middleware.ts
  apps/deedee/tailwind.config.ts
  apps/deedee/tests/e2e/auth.spec.ts
  apps/deedee/tests/e2e/dashboard.spec.ts
  apps/deedee/tests/e2e/landing.spec.ts
  apps/deedee/tests/fixtures/auth.ts
  apps/deedee/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, eslint --max-warnings 0 --no-warn-ignored

fix: complete Base UI migration cleanup and code review fixes
  .cspell/project-words.txt
  apps/e2e/lib/components/index.ts
  apps/e2e/lib/nextjs-overlay-utils.ts
  apps/e2e/lib/pages/index.ts
  apps/e2e/tests/features/steps/fixtures.ts
  apps/web/package.json
  apps/web/src/components/dev-tools-loader.tsx
  apps/web/src/features/billing/components/subscription-status.tsx
  apps/web/src/features/todos/components/create-todo-dialog.tsx
  apps/web/src/features/todos/components/todo-list.tsx
  apps/web/src/features/users/components/user-menu.tsx
  apps/web/src/lib/validation-schemas.ts
  apps/web/src/types/window.d.ts
  biome.json
  bun.lock
  cspell.json
  knip.json
  packages/eslint-config/base.js
  packages/eslint-config/monorepo-boundaries.js
  packages/ui/package.json
  packages/ui/src/components/confirm-dialog.tsx
  packages/ui/src/components/data-table.stories.tsx
  packages/ui/src/components/data-table/components/advanced-filter-builder.tsx
  packages/ui/src/components/data-table/components/filter-editor.tsx
  packages/ui/src/components/data-table/components/group-button.tsx
  packages/ui/src/components/data-table/components/relation-selector.tsx
  packages/ui/src/components/data-table/components/sort-button.tsx
  packages/ui/src/components/data-table/components/views-manager.tsx
  packages/ui/src/components/data-table/fn-sphere-theme.tsx
  packages/ui/src/components/filter-panel.tsx
  packages/ui/src/components/label.tsx
  packages/ui/src/components/progress.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/toggle-group.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --max-warnings 0 --no-warn-ignored, bash -c 'cd apps/web && bun run intl:extract', bash -c 'cd apps/web && bun run intl:compile:strict'

feat(dx): add eslint-plugin-better-tailwindcss
  apps/web/eslint.config.js
  package.json
  packages/ui/eslint.config.js
Due: biome check --write --no-errors-on-unmatched

feat(e2e): improve auth-helpers with baseUrl param and Convex sync
  apps/e2e/lib/auth-helpers.ts
Due: biome check --write --no-errors-on-unmatched

feat(e2e): add Node version detection for Convex deploy
  apps/e2e/lib/convex-backend.ts
Due: biome check --write --no-errors-on-unmatched

feat(e2e): add shared Convex admin client factory
  apps/e2e/lib/convex-client.ts
Due: biome check --write --no-errors-on-unmatched

chore: add biome ignores for parallel E2E test artifacts
  biome.json
Due: biome check --write --no-errors-on-unmatched

feat(e2e): parallel test infrastructure with dynamic port allocation
  apps/e2e/lib/auth-helpers.ts
  apps/e2e/lib/constants.ts
  apps/e2e/lib/convex-backend.ts
  apps/e2e/lib/find-unused-port.ts
  apps/e2e/lib/isolated-setup.ts
  apps/e2e/lib/isolated-teardown.ts
  apps/e2e/package.json
  apps/e2e/playwright.config.ts
  apps/e2e/scripts/start-convex.ts
  apps/e2e/scripts/write-e2e-env.ts
  apps/e2e/tests/features/steps/fixtures.ts
Due: biome check --write --no-errors-on-unmatched

feat(claude): update skills, agents, and review command
  .claude/agents/app-errors-enforcer.md
  .claude/agents/coherence-checker.md
  .claude/agents/convex-patterns-checker.md
  .claude/agents/playwright-bdd-checker.md
  .claude/agents/playwright-test-generator.md
  .claude/agents/playwright-test-healer.md
  .claude/agents/playwright-test-planner.md
  .claude/agents/react-component-patterns.md
  .claude/agents/skills-suggester.md
  .claude/agents/type-safety-checker.md
  .claude/commands/review.md
  .claude/skills/laws-of-ux/SKILL.md
  .claude/skills/react-effects/SKILL.md
Due: biome check --write --no-errors-on-unmatched

chore: add rulesync skills and update locales
  .cspell/project-words.txt
  .rulesync/skills/convex-docs/SKILL.md
  .rulesync/skills/convex-patterns/SKILL.md
  .rulesync/skills/evidence-debugger/SKILL.md
  .rulesync/skills/feature-sliced-design/SKILL.md
  .rulesync/skills/git-worktree-manager/SKILL.md
  .rulesync/skills/knip-cleanup/SKILL.md
  .rulesync/skills/playwright-bdd/SKILL.md
  .rulesync/skills/playwright-debug/SKILL.md
  .rulesync/skills/react-patterns/SKILL.md
  .rulesync/skills/typescript-patterns/SKILL.md
  apps/web/src/locales/en.po
  apps/web/src/locales/fr.po
Due: biome check --write --no-errors-on-unmatched

feat: sync template with vroommarket develop
  .github/workflows/e2e.yml
  .github/workflows/mega-linter.yml
  .github/workflows/release.yml
  .husky/post-checkout
  .rulesync/skills/convex-docs/SKILL.md
  .rulesync/skills/convex-patterns/SKILL.md
  .rulesync/skills/evidence-debugger/SKILL.md
  .rulesync/skills/feature-sliced-design/SKILL.md
  .rulesync/skills/git-worktree-manager/SKILL.md
  .rulesync/skills/knip-cleanup/SKILL.md
  .rulesync/skills/laws-of-ux/SKILL.md
  .rulesync/skills/playwright-bdd/SKILL.md
  .rulesync/skills/playwright-debug/SKILL.md
  .rulesync/skills/react-compiler/SKILL.md
  .rulesync/skills/react-effects/SKILL.md
  .rulesync/skills/react-patterns/SKILL.md
  .rulesync/skills/typescript-patterns/SKILL.md
  .rulesync/skills/vitest-patterns/SKILL.md
  biome.json
  packages/eslint-config/base.js
  packages/ui/package.json
  packages/ui/src/components/carousel.tsx
  packages/ui/src/components/data-table/fn-sphere-theme.tsx
  packages/ui/src/components/detail-layout.tsx
  packages/ui/src/components/field.tsx
  packages/ui/src/components/resizable.stories.tsx
  packages/ui/src/components/resizable.tsx
  packages/ui/src/components/search-bar.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/globals.css
Due: biome check --write --no-errors-on-unmatched, eslint --max-warnings 0 --no-warn-ignored

fix: resolve vroommarket merge issues and migrate to Zod validators
  .claude/agents/app-errors-enforcer.md
  .claude/agents/coherence-checker.md
  .claude/agents/react-component-patterns.md
  .claude/agents/type-safety-checker.md
  .cspell/project-words.txt
  .rulesync/skills/react-patterns/SKILL.md
  .rulesync/skills/typescript-patterns/SKILL.md
  apps/e2e/lib/convex-backend.ts
  apps/web/src/components/providers/intl-provider.tsx
  apps/web/src/features/users/components/user-menu.tsx
  bun.lock
  package.json
  packages/agent/.langgraph_api/.langgraphjs_api.checkpointer.json
  packages/agent/.langgraph_api/.langgraphjs_api.store.json
  packages/agent/.langgraph_api/.langgraphjs_ops.json
  packages/backend/convex/auth.ts
  packages/backend/convex/emails/index.ts
  packages/backend/convex/lib/functions.ts
  packages/backend/convex/polar.ts
  packages/backend/convex/testing/emails.ts
  packages/backend/convex/testing/lib.ts
  packages/backend/convex/testing/testing.ts
  packages/backend/convex/utils/crud.ts
  packages/eslint-config/package.json
  packages/ui/package.json
  packages/ui/src/components/carousel.tsx
  packages/ui/src/components/data-table.tsx
  packages/ui/src/components/data-table/components/column-manager-button.tsx
  packages/ui/src/components/data-table/components/views-manager.tsx
  packages/ui/src/components/data-table/fn-sphere-theme.tsx
  packages/ui/src/components/detail-layout.tsx
  packages/ui/src/components/dropdown-menu.stories.tsx
  packages/ui/src/components/field.tsx
  packages/ui/src/components/resizable.tsx
  packages/ui/src/components/search-bar.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/tooltip.tsx
  packages/ui/src/globals.css
Due: biome check --write --no-errors-on-unmatched, eslint --max-warnings 0 --no-warn-ignored, bash -c 'cd apps/web && bun run intl:extract', bash -c 'cd apps/web && bun run intl:compile:strict'

fix: rename web package to @starter-saas/web
  apps/web/package.json
Due: biome check --write --no-errors-on-unmatched

feat: add Capacitor mobile support
  .cspell/project-words.txt
  .github/workflows/mobile-android.yml
  .github/workflows/mobile-ios.yml
  .rulesync/commands/review.md
  .rulesync/subagents/app-errors-enforcer.md
  .rulesync/subagents/coherence-checker.md
  .rulesync/subagents/convex-patterns-checker.md
  .rulesync/subagents/playwright-bdd-checker.md
  .rulesync/subagents/react-component-patterns.md
  .rulesync/subagents/skills-suggester.md
  .rulesync/subagents/type-safety-checker.md
  package.json
  scripts/template-changelog.ts
  turbo.json
Due: biome check --write --no-errors-on-unmatched

feat(lint): add eslint-plugin-react-you-might-not-need-an-effect
  apps/web/eslint.config.js
  apps/web/package.json
  bun.lock
Due: biome check --write --no-errors-on-unmatched

fix: add frontmatter to laws-of-ux skill for rulesync
  .claude/skills/laws-of-ux/SKILL.md
Due: biome check --write --no-errors-on-unmatched

chore: generalize template by removing domain-specific references
  apps/e2e/lib/auth.ts
  apps/e2e/lib/test.ts
  apps/e2e/tests/storybook/data-table-filtering.spec.ts
  apps/web/eslint.config.js
  apps/web/src/lib/convex-hooks.ts
  apps/web/src/lib/sentry.ts
  apps/web/src/locales/en.json
  apps/web/src/locales/en.po
  apps/web/src/locales/fr.json
  apps/web/src/locales/fr.po
  apps/web/src/proxy.ts
  apps/web/src/utils/url-utils.ts
  biome.json
  commitlint.config.cjs
  packages/backend/convex/lib/authorization.ts
  packages/backend/convex/utils/crud.ts
  packages/eslint-config/base.js
  packages/eslint-config/feature-boundaries.js
  packages/ui/src/__tests__/grouped-rows.test.tsx
  packages/ui/src/components/data-table.stories.tsx
  packages/ui/src/components/data-table/__tests__/fn-sphere-filter-builder.test.ts
  scripts/find-unused-convex-endpoints.ts
Due: biome check --write --no-errors-on-unmatched, eslint --max-warnings 0 --no-warn-ignored, bash -c 'cd apps/web && bun run intl:extract', bash -c 'cd apps/web && bun run intl:compile:strict'

style: improve page layouts with better spacing and visual hierarchy
  apps/web/src/app/(dashboard)/admin/page.tsx
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/app/(dashboard)/todos/page.tsx
  apps/web/src/components/layouts/page-layout.tsx
  packages/ui/src/components/dashboard-layout.tsx
  packages/ui/src/components/page-header.tsx
  packages/ui/src/globals.css
Due: biome check --write --no-errors-on-unmatched, eslint --max-warnings 0 --no-warn-ignored, bash -c 'cd apps/web && bun run intl:extract', bash -c 'cd apps/web && bun run intl:compile:strict'

fix: update vitest mocks for ResizeObserver and IntersectionObserver
  apps/e2e/lib/components/index.ts
  apps/e2e/lib/pages/index.ts
  apps/e2e/scripts/remove-unused-steps.ts
  apps/web/src/features/billing/index.ts
  apps/web/src/features/todos/index.ts
  packages/backend/convex/utils/crud.ts
  packages/ui/src/components/data-table.stories.tsx
  packages/ui/src/globals.css
  packages/vitest-config/setup.ts
  scripts/template-changelog.ts
  setup.ts
  turbo.json
Due: biome check --write --no-errors-on-unmatched, eslint --max-warnings 0 --no-warn-ignored, bash -c 'cd apps/web && bun run intl:extract', bash -c 'cd apps/web && bun run intl:compile:strict'

fix: resolve bun check issues in template
  .cspell/project-words.txt
  apps/e2e/tests/features/steps/auth.steps.ts
  apps/e2e/tests/features/steps/navigation.steps.ts
  apps/web/src/app/(dashboard)/admin/members/[id]/page.tsx
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/app/(dashboard)/todos/page.tsx
  apps/web/src/features/organizations/components/organization-form.tsx
  packages/backend/convex/_generated/api.d.ts
  packages/backend/convex/privateData.ts
  packages/vitest-config/setup.ts
  scripts/find-deprecated-usage.ts
  setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint --max-warnings 0 --no-warn-ignored, bash -c 'cd apps/web && bun run intl:extract', bash -c 'cd apps/web && bun run intl:compile:strict'

fix(knip): clean up redundant config entries and add tsx to ignoreBinaries
  knip.json
Due: biome check --write --no-errors-on-unmatched

fix(e2e): resolve Node.js detection and Server Component errors
  apps/e2e/lib/convex-backend.ts
  apps/web/src/app/(dashboard)/todos/page.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --max-warnings 0 --no-warn-ignored, bash -c 'cd apps/web && bun run intl:extract', bash -c 'cd apps/web && bun run intl:compile:strict'

feat(e2e): add billing E2E tests scaffold with Polar sandbox support
  apps/e2e/playwright.config.ts
  apps/e2e/tests/features/billing
  apps/e2e/tests/features/steps/auth.steps.ts
  apps/e2e/tests/features/steps/billing.steps.ts
  docs/domains/billing/features/billing.feature
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,json,md,css}
  eslint --max-warnings 0 --no-warn-ignored: any of: *.tsx
  bash -c 'cd apps/web && bun run intl:extract': any of: apps/web/src/**/*.{ts,tsx}
  bash -c 'cd apps/web && bun run intl:compile:strict': any of: apps/web/src/**/*.{ts,tsx}
